body {
    background-color: rgb(0, 180, 250);
    color: rgb(248, 248, 248);
    font-family: monospace;
}

ul {
    list-style: upper-alpha;
}

h1#title {
    display: none;
}

.expand {
    display: block;
}

.popup:not(.show) {
    display: none;
}

.popup.show {
    display: block;
    border: 3px dotted rgb(248, 248, 248);
    background-color: rgb(0, 180, 250);
    padding: 16px;
    position: absolute;
    top: calc(50% - 240px);
    left: calc(50% - 280px / 2);
    height: 240px;
    width: 280px;
}

.popup>.countdown {
    height: 60px;
    background-color: rgb(248, 248, 248);
}